
desktop.ini
Working-Bullet-Gun-in-Godot/
simple_shooter/SimpleShooter/
SecondsLeftToday/Seconds-Left-Today/
Seconds_in_a_day/Seconds_in_a_day/
Seconds_in_a_day/CS50-repo/
Seconds_in_a_day/ahdnadlab/
OnlyOneTask/OnlyOneTask/
